html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
} 

    /* Index page */

#container {
    width: 100%;
    height: 100vh;
    background-image: url("../img/index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content {
    padding: 15em 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 30%;
    bottom: 50%;
}

.content h1 {
    font-size: 80px;
    margin-bottom: 0;
}

#container input {
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    border: 2px solid #000;
    border-radius: 5px;
}

#container button {
    padding: 10px 30px;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
    font-family: inherit;
    transition: background-color 1s ease-out 100ms
}

#container button:hover {
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}


#news-main {
    width: 100%;
    height: 500px;
    background-color: white;
}
.news-content {
    padding: 7em 20em;
    text-align: center;
}
.news-content button {
    margin-top: 25px;
    color: black;
    background-color: white;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

.news-content button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#pet-main {
    height: 500px;
    background-image: url("../img/animals.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.pet-content {
    color: white;
    padding: 7em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.pet-content button {
    color: black;
    background-color: white;
    opacity: .6;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

.pet-content button:hover {
    border: 1px solid black;
    opacity: .6;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#about-main {
    height: 500px;
}
.about-content {
    color: black;
    padding: 7em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.petshop-logo {
    font-size: 20px;
    font-weight: bold;
}
.about-content button {
    color: black;
    background-color: white;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

.about-content button:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#contact-main {
    height: 500px;
    background-image: url("../img/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contact-content {
    color: white;
    padding: 7em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#contact-main button {
    color: black;
    background-color: white;
    opacity: .6;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}
#contact-main button:hover {
    border: 1px solid black;
    opacity: .6;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}


    /* News page */

#news {
    width: 100%;
    height: 100vh;
    background-image: url("../img/news.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#newsletter-form {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter-form a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newsletter {
    width: 20%;
    padding: 15px;
    background-color: #ccc;
    border-radius: 5px;
}

#newsletter-form input[type=submit] {
    text-transform: uppercase;
    width: 100%;
    color: black;
    background-color: white;
    padding: 10px 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

#newsletter-form input[type=submit]:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#newsletter-form input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#newsletter-form input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#newsletter-form input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#newsletter-form input {
    font-family:inherit;
}

#newsletter-form i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 3em;
    color: white;
}

#newsletter-form p {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#newsletter-form label {
    font-weight: bold;
}


    /* Animals page */

.animal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.animal-image {
    position: relative;
} 

.animal-image img {
    display: block;
}

.animal-image::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 250ms;
}

.animal-image:hover::after {
    background-color: rgba(0, 0, 0, .75);
}

.animal-image:hover .animal-title {
    opacity: 1;
}

.animal-title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 25px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 250ms;
    color: white;
    z-index: 1;
}

.animal p {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1em;
}

.image {
    position: relative;
    width: 200px;
    margin-right: 30px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__img1 {
    height: 199px;
    width: 100%;
    display: block;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay:hover{
    opacity: 1;
    cursor: pointer;
}

.image__overlay:hover > *{
    transform: translateY(0);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur1 {
    backdrop-filter: blur(5px);
}

.image__overlay1:hover{
    opacity: 1;
    cursor: pointer;
}

.image__overlay1:hover > *{
    transform: translateY(0);
}

.image__overlay1 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

    /* About page */

#about {
    width: 100%;
    height: 600px;
    background-image: url("../img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }

.about-title span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 8em 5em;
    letter-spacing: .2em;
}
    
#about-text {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
}

.company-description {
    text-align: center;
}
    
.company-description h1 {
    font-size: 25px;
}
    
    /* Contact page */

#contact {
    width: 100%;
    height: 500px;
    background-image: url("../img/contact-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contact-title span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 5em 0em;
    letter-spacing: .2em;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

#contact-form label {
    text-transform: uppercase;
    font-weight: bold;
}

#contact-form input, select, textarea {
    width: 100% !important;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#contact-form input[type=submit] {
    text-transform: uppercase;
    width: 100%;
    color: black;
    background-color: white;
    padding: 10px 80px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

#contact-form input[type=submit]:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#contact-form input, textarea, select {
    font-family:inherit;
}

    /* Design of card */

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: white;
}

.card-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    border-radius:10px ;
    border: 1px solid lightgray;
    width: 20%;
    height: 50vh;
    padding: 10px;
    background: white;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.card-content:hover {
    cursor: pointer;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 45px;
}

.card-content img {
    width: 60%;
    height: 20vh;
}

.pet-description {
    font-size: 13px;
}

.card-content .infoButton {
    color: black;
    border: 1px solid lightgray;
    background: white;
    margin-top: 25px;
    transition: background-color 0.5s ease-out 100ms;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}


.card-content .infoButton:hover {
    color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.5s ease-out 100ms;
    border-radius: 10px;
}

.card-content button {
    background-color: white;
    border: none;
}

.card-content button:hover {
    cursor: pointer;
}

    /* Design of searcher */

#searcher {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searcher button {
    background: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.5s ease-out 100ms;
}

#searcher button:hover {
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
    color: white;
    transition: background-color 0.5s ease-out 100ms;
}

.search-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container input[type=text] {
    padding: 10px 10px;
    width: 250px;
    border-radius: 5px;
    z-index: 0;
    border: 1px solid #000;
    font-family: 'Oswald', sans-serif;
}

    /* Design of pop-up window */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-content {
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

#close:hover {
    color: red;
}

.leftSide {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.rightSide {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightSide span {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
}

.modalTitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.modalButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalButton .adoptButton {
    color: black;
    border: 1px solid lightgray;
    background: white;
    margin-top: 25px;
    transition: background-color 0.5s ease-out 100ms;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.modalButton .adoptButton:hover {
    color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.5s ease-out 100ms;
    border-radius: 10px;
}

.heart {
    font-size: 30px;
}

    /* Paw background */

#pet-background {
    width: 100%;
    height: 100vh;
    background-image: url("../img/paw.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#pet-background span {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 5em 0;
}

    /* Login page */

    #sign-in {
        width: 100%;
        height: 100vh;
        background-image: url("../img/sign-in-bg.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    #sign-in-form {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sign-in-main {
        width: 20%;
        padding: 15px;
        background-color: rgba(204, 204, 204, .60);
        border-radius: 5px;
    }
    
    #sign-in-form a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #sign-in-form input[type=submit] {
        text-transform: uppercase;
        width: 100%;
        color: black;
        background-color: white;
        padding: 10px 80px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        transition: background-color 1s ease-out 100ms
    }
    
    #sign-in-form input[type=submit]:hover {
        color: white;
        background-color: black;
        cursor: pointer;
        transition: background-color 1s ease-out 100ms
    }
    
    #sign-in-form input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    #sign-in-form input[type=text] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    #sign-in-form input[type=password] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    #sign-in-form input {
        font-family:inherit;
    }
    
    #sign-in-form i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 3em;
        color: white;
    }
    
    #sign-in-form p {
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #sign-in-form label {
        font-weight: bold;
    }
    
    
    /* Sign up page */
    
    #sign-up {
        width: 100%;
        height: 100vh;
        background-image: url("../img/sign-in-bg.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    #sign-up-form {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #sign-up-form a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .sign-up-main {
        width: 20%;
        padding: 15px;
        background-color: rgba(204, 204, 204, .60);
        border-radius: 5px;
    }
    
    #sign-up-form input[type=submit] {
        text-transform: uppercase;
        width: 100%;
        color: black;
        background-color: white;
        padding: 10px 80px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        transition: background-color 1s ease-out 100ms
    }
    
    #sign-up-form input[type=submit]:hover {
        color: white;
        background-color: black;
        cursor: pointer;
        transition: background-color 1s ease-out 100ms
    }
    
    #sign-up-form input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    #sign-up-form input[type=text] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    #sign-up-form input[type=password] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    #sign-up-form input {
        font-family:inherit;
    }
    
    #sign-up-form i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 3em;
        color: white;
    }
    
    #sign-up-form p {
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #sign-up-form label {
        font-weight: bold;
    }







/* ÉTEL TERMÉKEINK TESTE 

#termek_ajanlatok {

}
.termekek {
    margin: 1em auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.food_1{
    margin: .2em .7em;

}
.image_food {
    height: 150px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.image_food_overlay {
    text-align: center;
}
.food_title {
    font-weight: bold;
}
.food_description {
    font-size: 13px;
}
.food_price {
    font-weight: bold;
    font-size: 15px;
}
.food_button {
    margin-top: 15px;
}
.food_button button {
    padding: 5px 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    transition: background-color 1s ease-out 100ms
}
.food_button button:hover {
    border: 1px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}


/* MENÜK OLDAL TESTE 


#menuink {
    width: 100%;
    height: 650px;
    background-image: url("../img/dsadasd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#menuink span {
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    padding: 3em 3em;
}

/* SALÁTÁK OLDAL TESTE 

#salataink {
    width: 100%;
    height: 650px;
    background-image: url("../img/salads.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#salataink span {
    font-size: 50px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    padding: 3em 2em;
}

/* ÜDITŐK OLDAL TESTE

#uditoink {
    width: 100%;
    height: 650px;
    background-image: url("../img/drinks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#uditoink span {
    font-size: 50px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    padding: 3em 3em;
}


/*PIZZÁK OLDAL TESTE 

#pizzaink {
    width: 100%;
    height: 650px;
    background-image: url("../img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#pizzaink span {
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    padding: 2em 3em;
}






/* MEKI RENDELES URLAP TESTE 

#mekiRendeles_uralp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mekiRendeles_uralp .container {
    width: 50%;
}

#mekiRendeles_uralp input[type=text], select, textarea, input[type=number], input[type=email] {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



/* RENDELÉS LEADÁSA OLDAL

#rendelesleadas {
    height: 100vh;
    margin-top: 100px;
}

#rendelesleadas form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

#rendelesleadas label {
    text-transform: uppercase;
    font-weight: bold;
}
#rendelesleadas input, select, textarea {
    width: 100% !important;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#rendelesleadas input[type=submit] {
    text-transform: uppercase;
    width: 100%;
    color: black;
    background-color: white;
    padding: 10px 80px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

#rendelesleadas input[type=submit]:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

#rendelesleadas input, textarea, select {
    font-family:inherit;
}



/* ADMIN FELÜLET 

#products {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#products td {
    width: 200px;
    text-align: center;
}

#products img {
    width: 100px;
    height: 100px;
}

#products button[type=submit], button[type=reset] {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

#products button[type=submit]:hover, button[type=reset]:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}



/* ÚJ TERMÉK 


#adding-new_product {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#adding-new_product form {
    width: 40%;
}

#adding-new_product span {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#adding-new_product input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-family: inherit;
}

#adding-new_product label {
    text-transform: uppercase;
    font-weight: bold;
}

#adding-new_product button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 1s ease-out 100ms
}

#adding-new_product button:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms
}

*/















